.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  scrollbar-width: none;
  margin: auto;
  height: 70px;
  top: 0;
  border-top: 10px solid orange;
  border-bottom: 2px solid orange;
  background-color: black;
  position: sticky;
}

.header__lang {
  display: block;
  position: absolute;
  text-align: right;
  font-weight: bold;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header__lang ul {
  position: absolute;
  top: 3px;
  right: 1px;
}
.header__lang h1 {
  font-size: 12px;
  color: orange;
}

.header__lang button {
  border: none;
  transition: 0.3s;
  cursor: pointer;
  min-width: 50px;
}

/* .header__lang:hover button {
  background-color: orange;
} */
/* .header__lang div {
  z-index: 1;
  visibility: hidden;
  position: absolute;
  opacity: 1;
  transition: 0.3s;
}  */

 .header__lang:hover div {
  visibility: visible;
  opacity: 1;
} 

.en {
  width: 5px;
  background-color: black;
  outline: none;
}
.mk {
  width: 5px;
  background-color: black;
  outline: none;
}



.header__lang button:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
}

.mk:before {
  background-image: url(https://flagpedia.net/data/flags/w702/mk.png);
  min-height: 25px;
  min-width: 25px;
  cursor: pointer;
}

.en:before {
  background-image: url(https://cdn.countryflags.com/thumbs/united-states-of-america/flag-400.png
  );
  min-height: 25px;
  min-width: 25px;
  cursor: pointer;
}
/* .header__lang button:hover {
  background-color: orange;
} */

.link {
  color: orange;
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
  display: block;
}
.link p{
  color: orange;
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
  display: block;
}
nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5%;  
  height: 80px;
}
.header__img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

.header__links:hover {
  transform: scale(0.9);
}

nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: aliceblue;
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .links li {
  list-style: none;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon__burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon__burger .line {
  width: 30px;
  height: 5px;
  background-color: orange;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1280px) {
  .header__links > p {
font-size: 10px;
  }
}


@media screen and (max-width: 720px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
    max-height: 100px;
  }
  .header__lang  {
    position: absolute;
    left: -70%; 
  }
  .header__lang ul {
    position: absolute;
    /* right: 500px;  */
    left: 0px;
  }


  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    right: 0;
    bottom: 100%;
    top: 75px;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  nav .icon__burger {
    display: block;
  }

  nav :checked ~ .links {
    bottom: 0;
  }

  nav :checked ~ .icon__burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon__burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon__burger .line:nth-child(2) {
    opacity: 0;
  }

  .header__links > p {
    font-size: 15px;
      }
}
